{#
/**
 * @file
 * Default theme implementation for a facets item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The ID of the widget plugin this facet uses.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @see facets_preprocess_facets_item_list()
 *
 * @ingroup themeable
 */
#}
<div class="icdc-facets-widget- {{- facet.widget.type -}} ">
  {% if facet.widget.type %}
    {%- set attributes = attributes.addClass('item-list__' ~ facet.widget.type) %}
  {% endif %}
  {% if items or empty %}
      <div role="button" tabindex="0" class="{{ 'icdc-facets-' ~ facet.widget.type ~ '-title' }}" aria-controls="icdc-facets-collapsible-container-{{ facet.id }}">
        {%- if title is not empty -%}
          {{ title }}
        {%- else -%}
          {{ facet.label }}
        {%- endif -%}
      </div>
    <div id="icdc-facets-collapsible-container-{{ facet.id }}" class="icdc-facets-collapsible-container" aria-expanded="false">
      <form>
        {%- if items -%}
        <{{ list_type }}{{ attributes }}>
          {%- for item in items -%}
            <li{{ item.attributes }}>{{ item.value }}</li>
          {%- endfor -%}
        </{{ list_type }}>
        {%- else -%}
          {{- empty -}}
        {%- endif %}
        <input type="submit" value="{{ 'Apply'|t }}" aria-label="{{ 'Apply filters'|t ~ ' ' ~ title }}"/>
      </form>
    </div>
  {%- endif %}
</div>
