{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if term_name or term_description %}
  <div class="col-md-12">
    <div class="wrapper-tag-desc">
      {% if term_name %}
        <h2>{{ term_name }}</h2>
      {% endif %}
      {% if term_description %}
        <div>{{ term_description|raw }}</div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% set cell_classes = [default_row_class ? 'views-row',] %}
{% for row in rows %}
  {% set row_classes = 'first-views-row col-md-12' %}
  <div class="{{ row_classes }}">
    <div{{ row.attributes.addClass(cell_classes) }}>
      {{ row.content }}
    </div>
  </div>
{% endfor %}
