{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'clearfix',
  'block-entete-blog'
]
%}
{% set bgimage  = file_url(content.field_media_reference[0]['#media'].field_media_image.entity.uri.value) %}
{% set imageCredidentials = content.field_media_reference[0]['#media'] is defined ? content.field_media_reference[0]['#media'].field_media_credential.value : '' %}
{% if 'field_responsive' in content|keys %}
  {% if content.field_responsive['#items'].value == '1' %}
    {% set classes = classes|merge(['not_responsive']) %}
  {% endif %}
{% endif %}
<section{{ attributes.addClass(classes) }} style="background-image:url('{{ bgimage }}');">
  {# Variables Crédits d'image #}
  {# ici #}
  {# {{ imageCredidentials }} #}
  {% block content %}
    {{ title_prefix }}
    {{ title_suffix.contextual_links }}
    <div class="wrapper-texte">
      <svg viewBox="0 0 763 541" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M-146.588 1364L-146.588 456.809L310.815 0.151693H762.284L762.284 451.336L-146.588 1364Z" fill="url(#paint0_linear)"/>
        <defs>
          <linearGradient id="paint0_linear" x1="-143.446" y1="-577.86" x2="1183.27" y2="-226.645" gradientUnits="userSpaceOnUse">
            <stop offset="0.489213" stop-color="white"/>
            <stop offset="0.828488" stop-color="white" stop-opacity="0.9"/>
          </linearGradient>
        </defs>
      </svg>
      <div class="highlighted-content">
        {{ content.field_node_reference }}
      </div>
    </div>
  {% endblock %}
</section>
